<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XAT Token Exchange</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800 text-gray-100">

<nav class="bg-gray-900 shadow w-full">
    <div class="container mx-auto px-6 py-3 flex justify-between items-center">
        <a class="font-bold text-xl text-gray-100" href="#">XAT Budget</a>
        <img src="../assets/XAT_LOGO.png" alt="XAT Logo" class="h-40 w-40 mr-2 rounded-full"/>
        <div class="flex">
            <a class="text-gray-300 hover:text-gray-100 ml-4" href="#">Link 1</a>
            <a class="text-gray-300 hover:text-gray-100 ml-4" href="#">Link 2</a>
        </div>
    </div>
</nav>

<div class="grid grid-cols-3 min-h-screen">
    <div class="bg-gray-800 bg-opacity-50"></div>
    <div class="col-span-1 flex p-20 items-start">
        <div class="bg-gray-700 p-20 border border-gray-600 rounded-lg shadow-lg text-center">
            <h1 class="text-2xl md:text-4xl lg:text-6xl font-semibold mb-4">Generate Access Token</h1>
            <p class="text-base md:text-xl lg:text-3xl mb-4">Click the button below to generate your access token for automated forecasting updates.</p>
            <button id="generate-access-token" class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-6 rounded"
                    hx-post="/create_plaid_item"
                    hx-target="#response-container"
                    hx-include="input[name='public_token']"
                    hx-swap="outerHTML">
                Generate Access Token
            </button>
            <input type="hidden" name="public_token" value="{{.PublicToken}}">
            <div id="response-container"></div>
        </div>
    </div>
    <div class="bg-gray-800 bg-opacity-50"></div>
</div>

<footer class="bg-gray-900 shadow w-full">
    <div class="container mx-auto px-6 py-4">
        <p class="text-gray-300 text-center">XAT Â© 2023</p>
    </div>
</footer>

</body>
</html>